snippet section "section for i3 config"
# ---------------------------------
# SECTION:  ${0:description}
# ---------------------------------
#
endsnippet

snippet T "TODO" i
TODO 
endsnippet

snippet X "XXX" i
XXX 
endsnippet
