snippet snip "snippet for snippets"
snippet ${1:Trigger} "${2:Description}"
${3:Body}
`echo 'endsnippet'`
endsnippet

snippet section "snippets section"
# -------------------------
# SECTION:  ${0:description}
# ------------------------
#
endsnippet

snippet T "TODO" i
TODO 
endsnippet

snippet N "NOTE" i
NOTE 
endsnippet

