snippet verb "verbatim"
\verb|${0:${VISUAL}}|
endsnippet

snippet _ "text underscore"
\textunderscore
endsnippet

snippet ~ "text tilde"
\textasciitilde
endsnippet

snippet i "italic"
\textit{${0}}
endsnippet

snippet b "bold"
\textbf{${0}}
endsnippet

snippet mbf "mathbf"
\mathbf{${0}}
endsnippet
