snippet section "vimrc section"
" -------------------------
" SECTION:  ${0:description}
" ------------------------
"
endsnippet

snippet T "TODO" i
TODO 
endsnippet

snippet X "XXX" i
XXX 
endsnippet

snippet < "< >" i
<${0}>
endsnippet

