snippet section "vimrc section"
" -------------------------
" SECTION:  ${0:description}
" ------------------------
"
endsnippet

snippet T "TODO" i
TODO 
endsnippet

snippet X "XXX" i
XXX 
endsnippet

snippet N "NOTE" i
NOTE 
endsnippet

snippet < "< >" i
<${0}>
endsnippet

# Temporary snippets

snippet plug "<Plug>(command)"
<Plug>(${0:command})
endsnippet
